
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="nine wide column">

        <h2>Datenschutzerklärung</h2>
        <h3>Bereitstellung der Website und Erstellung von Protokoll- oder Log-Dateien</h3>
        Welche Daten werden verarbeitet?<br>
        Bei jedem Zugriff auf Inhalte des Internetangebotes werden dort vorübergehend Daten über sogenannte Protokoll- oder Log-Dateien gespeichert, die möglicherweise eine Identifizierung zulassen. Die folgenden Daten werden hierbei erhoben:<br>
        - Datum und Uhrzeit des Abrufs<br>
        - Name des aufgerufenen Internetdienstes, der aufgerufenen Ressource und der verwendeten Aktion<br>
        - Abfrage, die der Client gestellt hat<br>
        - übertragene Datenmenge<br>
        - Meldung, ob der Abruf erfolgreich war<br>
        - IP-Adresse des aufrufenden Rechners<br>
        - Clientinformationen (u.a. Browser, Betriebssystem)<br><br>
         
        <h3>Auf welcher Rechtsgrundlage werden diese Daten verarbeitet?</h3>
        Rechtsgrundlage für die vorübergehende Speicherung der Daten ist Art. 6 Abs. 1 lit. e DS-GVO i.V.m. § 3 Abs. 1 NRWDSAnpUG-EU.<br><br>

        <h3>Zu welchen Zwecken erfolgt die Verarbeitung?</h3>
        Die Daten aus den Protokoll- bzw. Logdateien dienen zur Sicherstellung der Funktionsfähigkeit der Website. Zudem dienen sie zur Abwehr und Analyse von Angriffen. In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung.<br><br>
        <h3>Wie lange werden die Daten gespeichert?</h3>
        Die Daten werden bis zu 3 Monaten direkt und ausschließlich für Administratoren zugänglich aufbewahrt.<br><br>

        <h3>Eingebundene Karten, Diagramme & Frameworks</h3>
        In dem hier angebotenen Kartenclienten und Diagrammen werden Daten über Webdienste eingebunden und visualisiert.<br>
        OpenStreetMap: https://www.openstreetmap.org<br>
        Es werden die folgenden Frameworks direkt von den Seiten der Betreiber eingebunden:<br>
        OpenLayers: https://openlayers.org<br>
        UNPKG Frappe Charts: https://unpkg.com/frappe-charts@0.0.8<br>
        D3: https://d3js.org/d3.v3.min.js<br>
        CDN Leaflet: http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js<br><br>
        Zur Darstellung der Sensorqualität: https://rexfue.de (https://rexfue.de/Feinstaub_API.pdf)<br><br>
        <h3>Registrierung</h3>
        Die Registrierung der Sensoren und die Nutzung des Forums kann erst nach persönlicher Einladung durch den Betreiber der Webseite erfolgen. Die Mailadresse und die IDs der Sensoren werden dabei gespeichert. Die Angabe der Adresse ist freiwillig. Auf dieser Basis wird eine Verortung durchgeführt, so dass der Sensor nachher in der Kartenanwendung der Webseite zu sehen ist.
        Die anderen personenbezogenen Daten werden ausschließlich für die interne Verwendung bei dem für die Verarbeitung Verantwortlichen und für eigene Zwecke erhoben und gespeichert. Eine Weitergabe dieser Daten an Dritte erfolgt grundsätzlich nicht, sofern keine gesetzliche Pflicht zur Weitergabe besteht oder die Weitergabe der Strafverfolgung dient.
        Registrierten Personen steht die Möglichkeit frei, die bei der Registrierung angegebenen personenbezogenen Daten jederzeit abzuändern oder vollständig aus dem Datenbestand des für die Verarbeitung Verantwortlichen löschen zu lassen.
        Der für die Verarbeitung Verantwortliche erteilt jeder betroffenen Person jederzeit auf Anfrage Auskunft darüber, welche personenbezogenen Daten über die betroffene Person gespeichert sind. Ferner berichtigt oder löscht der für die Verarbeitung Verantwortliche personenbezogene Daten auf Wunsch oder Hinweis der betroffenen Person, soweit dem keine gesetzlichen Aufbewahrungspflichten entgegenstehen.<br><br>


        <h3>Betroffenenrechte</h3>
        Nach Maßgabe von Art. 15 DS-GVO haben Sie das Recht, Auskunft über die zu Ihrer Person gespeicherten Daten einschließlich eventueller Empfänger und der geplanten Speicherdauer zu erhalten. Sollten unrichtige personenbezogene Daten verarbeitet werden, steht Ihnen gemäß Art. 16 DS-GVO ein Recht auf Berichtigung zu. Liegen die gesetzlichen Voraussetzungen vor, so können Sie die Löschung oder Einschränkung der Verarbeitung verlangen sowie Widerspruch gegen die Verarbeitung einlegen (Art. 17, 18 und 21 DS-GVO).

      </div>
    </div>
  </div>
</div>