<div class="ui container">
  <% if user_signed_in? %>
    <h1 class="ui header">
      Hallo <%= current_user.email %> <br>
      willkommen in deinem persönlichen Bereich von Luftalarm!
    </h1>
  <% else %>
    <h1 class="ui header">
      Willkommen bei der Feinstaub-Alarm App von Luftdaten.info
    </h1>
    <h2>
        Egal ob Zuhause, bei der Arbeit oder deinem tagtäglichen Fahrweg. Hier kannst Du individuelle Benachrichtigungen über Sensor-Werte einstellen.
    </h2>
      <%= link_to('Registrierung', new_user_registration_path, class: 'ui button', id:'ld-primary')  %>
      <%= link_to('Login', new_user_session_path, class: 'ui button')  %>
  <% end %>



  <h4 id="primary" class="ui horizontal divider header">
    <i class="tag icon"></i>
    Betaphase! Jetzt gerne testen...
  </h4>


  <div class="ui basic segment">
    <div class="ui centered sub header">
      <h2>Stelle jetzt deinen Feinstaub-Alarm ein!</h2>
      <a href="<%= sensors_path %>" class="ui medium image centered">
        <img src="/static/images/map.png">
      </a>
    </div>
  </div>

  <hr>

  <div class="ui basic segment">
    <div class="ui centered sub header">
      <h2>
        Dieses Projekt ist gefördert durch:
      </h2>
      <div class="ui grid">
        <div class="six wide column centered">
          <img class="ui medium image" src="/static/images/logo-bmbf.svg">
        </div>
        <div class="six wide column">
          <img class="ui medium image" src="/static/images/logo-okfn.svg">
        </div>
      </div>
    </div>
  </div>

</div>



