<div class="ui container">
  <% if user_signed_in? %>
    <h1 id="ld-headline" class="ui header">
      Hallo <%= current_user.email %> <br>
      willkommen in deinem persönlichen Bereich von Luftalarm!
    </h1>
  <% else %>
    <h1 id="ld-headline" class="ui header">
      Willkommen beim Luftalarm von Luftdaten.info
    </h1>
    <p>
        Egal ob Zuhause, bei der Arbeit oder deinem tagtäglichen Fahrweg. Hier kannst Du individuelle Benachrichtigungen über Sensor-Werte einstellen.
    </p>
      <%= link_to('Registrierung', new_user_registration_path, class: 'ui button', id:'ld-primary')  %>
      <%= link_to('Login', new_user_session_path, class: 'ui button')  %>
  <% end %>
</div>

<h4 id="primary" class="ui horizontal divider header">
  <i class="tag icon"></i>
  Betaphase! Jetzt gerne testen...
</h4>

<div class="ui column stackable middle aligned centered color grid">
    <a href="<%= sensors_path %>" class="ui medium image">
      <img src="/static/images/map.png">
    </a>
</div>

